.tab-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tab-navbar {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 1.5rem 0;
}
.tab-menu-btn {
  background-color: #025a56;
  color: aliceblue;
  padding: 1rem 2rem;
  border-top-right-radius: 1.5rem;
  border-top-left-radius: 1.5rem;
}
.tab-active {
  background-color: #02e9dd;
  color: #012927;
  font-weight: bold;
}

.tab-content {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  width: 80vw;
  text-align: justify;
}
